.tutorial {
  background-image: url(../img/select/tutorial1.png);
}

.close {
  position: absolute;
  top: 5%;
  right: 1%;
  width: 10%;
  height: 10%;
  background: url(../img/common/x.png) center/contain no-repeat;
}

.select-main {
  background: url(../img/select/main-bg.png) center/contain no-repeat;
  width: 100%;
  height: 100%;
  position: relative;
}

.play-wrap {
  width: 100%;
  height: 100%;
  position: relative;
}

.combo {
  position: absolute;
  top: 36.8%;
  left: 4.55%;
  width: 10.6%;
}

.combo:not([src]),
.combo[src=""] {
  visibility: hidden;
}

.player {
  width: 20%;
  height: 20%;
  position: absolute;
  visibility: hidden;
}

.player.visible {
  visibility: visible;
}

.player#player1 {
  bottom: 3.4%;
  left: 14.2%;
}

.player#player2 {
  width: 18%;
  height: 18%;
  bottom: 5.7%;
  left: 28%;
}

.player#player3 {
  width: 17.3%;
  height: 17.3%;
  bottom: 6.1%;
  left: 41%;
}

.player#player4 {
  bottom: 3.7%;
  left: 53.5%;
  width: 17.4%;
  height: 17.4%;
}

.player#player5 {
  bottom: 4.9%;
  left: 68.2%;
  width: 17.4%;
  height: 17.4%;
}

.spotlight {
  position: absolute;
  width: 22%;
  height: 39%;
  visibility: hidden;
  z-index: 5;
  transform: scaleY(1.2);
  clip-path: inset(13% 0 0 0);
}

.spotlight#spotlight1 {
  bottom: 1%;
  left: 13.5%;
}

.spotlight#spotlight2 {
  bottom: 1%;
  left: 26%;
}

.spotlight#spotlight3 {
  bottom: 1%;
  left: 39%;
}

.spotlight#spotlight4 {
  bottom: 1%;
  left: 51%;
}

.spotlight#spotlight5 {
  bottom: 1%;
  left: 66%;
}

.spotlight.visible {
  visibility: visible;
}

.pad {
  width: 80%;
  height: 38%;
  position: absolute;
  right: 0;
  top: 23%;
  overflow: hidden;
}

.target-zone {
  width: 12%;
  height: 12%;
  position: absolute;
  top: 16%;
  left: 5%;
  cursor: pointer;
  z-index: 10;
}

.target-zone-effect {
  width: 22%;
  height: 40%;
  top: 19.5%;
  left: 19%;
  background: url(../img/select/notes/touch-effect.png) center / contain
    no-repeat;
  z-index: 0;
  position: fixed;
  scale: 0.6;
}

.target-zone-effect.active {
  background: url(../img/select/notes/touch-effect-active.png) center / contain
    no-repeat;
  scale: 1;
}

.rail {
  width: 200%;
  height: 100%;
  position: relative;
  overflow: visible;
  white-space: nowrap;
  display: flex;
  align-items: center;
}
.rail.no-moving {
  transform: translateX(14%);
}
/* 스크롤 애니메이션 */
.rail.moving {
  animation: slideLeft 16s forwards linear;
}

.note {
  width: 8%;
  height: 55%;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-bottom: 2%;
  position: relative;
}

.note img {
  width: 94%;
  height: 94%;
  object-fit: contain;
  z-index: 11;
}

/* 클릭된 노트 애니메이션 */
.note.clicked {
  position: fixed !important;
  animation: noteClickEffect 0.5s ease-out forwards;
  z-index: 20;
}

@keyframes noteClickEffect {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

.note img.note-text {
  position: absolute;
  bottom: -75%;
  width: 50%;
}

.note-dot {
  width: 1%;
  height: 100%;
  display: inline-block;
  flex-shrink: 0;
}

@keyframes slideLeft {
  from {
    transform: translateX(14%);
  }
  to {
    transform: translateX(-202%);
  }
}

/* 콤보 효과 */
.combo-effect {
  animation: comboScale 1s ease-out;
}

@keyframes comboScale {
  0% {
    transform: scale(1);
    opacity: 0.7;
  }
  50% {
    transform: scale(1.3);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.ktm-wrapper .btn-replay {
  position: absolute;
  width: 20%;
  height: 20%;
  left: 27%;
  bottom: 7%;
  background-image: url(../img/common/replay-2.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.ktm-wrapper .btn-replay:hover {
  background-image: url(../img/common/replay-2-active.png);
}

.ktm-wrapper .btn-home {
  position: absolute;
  width: 20%;
  height: 20%;
  right: 28%;
  bottom: 7%;
  background-image: url(../img/common/exit.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.ktm-wrapper .btn-home:hover {
  background-image: url(../img/common/exit_active.png);
}

.select-1-success .sign-board {
  background-image: url(../img/select/success_sulah.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
}

/* 카드 흔들기 애니메이션 */
@keyframes shake {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
}

.ktm-card.shaking {
  animation: shake 0.8s ease-in-out;
}

.ktm-card {
  position: absolute;
  width: fit-content;
  height: 50%;
  left: 40%;
  top: 17%;
  /* transition: transform 0.3s ease-out; */
  cursor: pointer;
}

.ktm-card-off {
  display: none;
  position: absolute;
  width: fit-content;
  height: 64%;
  left: 36%;
  top: 10%;
  transition: transform 0.3s ease-out;
}

.ktm-card-off.expanded {
  transform: scale(1.4);
  z-index: 40;
}

/* select-2 */
.tutorial-2 {
  background-image: url(../img/select2/tutorial.png);
}

.start-btn {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 36%;
  height: 18%;
}

.tutorial-2-popup-wrapper {
  position: relative;
}

.tutorial-2-popup {
  position: absolute;
  width: 50%;
  height: 50%;
  transform: translate(50%, 50%);
}

.tutorial-2-popup-close {
  width: 16%;
  height: 12%;
  position: absolute;
  top: 51%;
}

.select-main-2 {
  width: 100%;
  height: 100%;
  position: relative;
  background: url(../img/select2/main-bg.png) center/contain no-repeat;
}

.progress-bar {
  width: 3%;
  height: 57%;
  padding: 4px;
  border-radius: 50px;
  background-color: #67a32f;
  position: absolute;
  top: 26%;
  right: 5%;
  overflow: hidden;
}
.progress-bar-fill {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background-color: #98ce92;
  transform: translateY(0%);
  transition: transform 30s linear;
}

.progress-bar-fill.start-timer {
  transform: translateY(95%);
}
.clock {
  width: 12%;
  height: 12%;
  position: absolute;
  top: 76%;
  right: 0.5%;
}

.target {
  position: absolute;
}

.click-point-1 {
  width: 12%;
  height: 14%;
  top: 46%;
  left: 18%;
}
.target-1 {
  width: 11%;
  height: 11%;
  top: 48.5%;
  left: 18.9%;
}

.click-point-2 {
  width: 10%;
  height: 14%;
  top: 47%;
  left: 57.5%;
}
.target-2 {
  width: 7.5%;
  height: 7.5%;
  top: 50.3%;
  left: 59%;
}

.click-point-3 {
  width: 10%;
  height: 14%;
  top: 53%;
  right: 12%;
}
.target-3 {
  width: 9.5%;
  height: 9.5%;
  top: 54.3%;
  right: 12.5%;
}

/* select-3 */
.select-main-3 {
  width: 100%;
  height: 100%;
  position: relative;
  background: url(../img/select3/main-bg.png) center/contain no-repeat;
}

#select-3-player,
#select-3-player-active {
  width: 66%;
  height: 66%;
  position: absolute;
  bottom: 0;
  right: -18%;
}

#select-3-cursor,
#select-3-jio {
  width: 10%;
  height: 10%;
  position: absolute;
  top: 20%;
  right: 8%;
}

#select-3-cursor {
  animation: floatUpDown 2s ease-in-out infinite;
}

@keyframes floatUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

#select-3-jio {
  width: 20%;
  height: 20%;
  top: 19%;
  left: 64%;
}

#select-3-bak,
#select-3-bak-active {
  width: 30%;
  height: 30%;
  left: 3%;
  position: absolute;
  bottom: 21%;
}

#select-3-julgo {
  position: absolute;
  width: 30%;
  height: 30%;
  bottom: 21%;
  left: 21%;
}

#select-3-uh {
  position: absolute;
  width: 30%;
  height: 30%;
  bottom: 21%;
  left: 41%;
}

.select-3-note-wrapper {
  position: relative;
  width: 10%;
  height: 10%;
  top: 0;
  left: 0;
}

.select-3-note {
  width: 40%;
  height: 40%;
  position: absolute;
}
.select-3-note:nth-child(1) {
  bottom: 0;
  left: 23%;
  animation: noteFloat1 2.5s ease-in-out infinite;
  animation-delay: 0s;
}
.select-3-note:nth-child(2) {
  bottom: -16%;
  right: 6%;
  animation: noteFloat2 2.5s ease-in-out infinite;
  animation-delay: 0.5s;
}
.select-3-note:nth-child(3) {
  top: 12%;
  right: 10%;
  animation: noteFloat3 2.5s ease-in-out infinite;
  animation-delay: 0.9s;
}

@keyframes noteFloat1 {
  0% {
    opacity: 0;
    transform: translateY(20px) translateX(30px) rotate(10deg);
  }

  50% {
    opacity: 1;
    transform: translateY(-10px) translateX(0px) rotate(-10deg);
  }

  100% {
    opacity: 0;
    transform: translateY(-40px) translateX(-15px) rotate(10deg);
  }
}

@keyframes noteFloat2 {
  0% {
    opacity: 0;
    transform: translateY(20px) translateX(30px) rotate(10deg);
  }

  50% {
    opacity: 1;
    transform: translateY(-10px) translateX(15px) rotate(-10deg);
  }

  100% {
    opacity: 0;
    transform: translateY(-40px) translateX(30px) rotate(10deg);
  }
}

@keyframes noteFloat3 {
  0% {
    opacity: 0;
    transform: translateY(20px) translateX(-15px) rotate(10deg);
  }

  50% {
    opacity: 1;
    transform: translateY(-10px) translateX(0px) rotate(-10deg);
  }

  100% {
    opacity: 0;
    transform: translateY(-40px) translateX(15px) rotate(10deg);
  }
}

#select-3-moktui {
  position: absolute;
  width: 16%;
  height: 16%;
  bottom: 32%;
  left: 22.5%;
  z-index: -1;
  animation: none;
  transform: rotate(-45deg);
}

#select-3-moktui.moktui-rotate {
  animation: moktuiRotate 0.7s forwards;
}

@keyframes moktuiRotate {
  0% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}

#select-3-chae {
  position: absolute;
  width: 12%;
  height: 12%;
  bottom: 38%;
  left: 52.5%;
  z-index: 1;
}

#select-3-chae.chae-play {
  animation: chaePlay 1.2s forwards;
}

@keyframes chaePlay {
  0% {
    transform: rotate(30deg);
    bottom: 38%;
    left: 52.5%;
  }
  15% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(30deg);
  }
  40% {
    transform: rotate(0deg);
  }
  55% {
    transform: rotate(30deg);
  }
  62% {
    transform: rotate(-30deg);
    bottom: 38%;
    left: 52.5%;
  }

  100% {
    left: 44%;
    bottom: 38%;
  }
}
