.tutorial-bg {
  background-image: url(../img/select-1/tutorial-bg.png);
}
.tutorial-bg-2 {
  background-image: url(../img/select-2/tutorial-bg.png);
}

.close {
  position: absolute;
  top: 7%;
  right: 1%;
  width: 11%;
  height: 15%;
}

.select-main {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.select-bg {
  background-image: url(../img/select-1/main-bg.png);
  background-size: contain;
  width: 100%;
  height: 100%;
  position: relative;
}

.belt {
  background-image: url(../img/select-1/belt-1.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 30%;
  position: absolute;
  top: 57%;
  left: 0;
}

.belt.active {
  background-image: url(../img/select-1/belt-2.png);
}

.guage-wrapper {
  width: 40%;
  position: absolute;
  bottom: 9%;
  left: 30%;
}

.strawberry-guage {
  width: 14%;
  object-fit: contain;
  position: absolute;
  top: -60%;
  left: 90%;
}
.strawberry-guage.active {
  animation: strawberry-move-guage 4.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.dan {
  position: absolute;
  right: 15%;
  width: 20%;
  top: 16%;
}
.dan.dance {
  width: 25%;
  animation: dance 2s ease-in-out infinite;
}

.hong {
  position: absolute;
  left: 15%;
  width: 22%;
  top: 20%;
}
.hong.dance {
  width: 25%;
  animation: dance 2s ease-out infinite;
}

@keyframes dance {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

.miyo {
  position: absolute;
  left: 44%;
  width: 14%;
  top: 2%;
  animation: miyo-up-down 2s ease-in-out infinite;
}
.miyo.active {
  animation: miyo-active 2s ease-in-out;
}
.miyo.stop {
  animation: none;
}

@keyframes miyo-up-down {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes miyo-active {
  0% {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(50deg);
  }
  100% {
    transform: rotate(30deg);
  }
}

.touch-point {
  width: 14%;
  position: absolute;
  bottom: 35%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  cursor: pointer;
}

.strawberry-move-wrapper {
  position: absolute;
  bottom: 26.2%;
  left: 0;
  width: 100%;
  height: 40%;
}
.strawberry-move.active {
  animation: strawberry-move 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}
.strawberry-move {
  position: absolute;
  width: 14.5%;
  top: -17.8%;
  right: 0%;
}
.strawberry-move.success {
  top: 19%;
  scale: 1.2;
}

.select-1-glow {
  display: none;
  position: absolute;
  width: 17%;
  position: absolute;
  top: 20%;
  left: 42%;
}
.select-1-glow.active {
  display: block;
}

@keyframes strawberry-move {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-690%);
  }
}

@keyframes strawberry-move-guage {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-686%);
    display: none;
  }
}

.progress-bar {
  position: absolute;
  width: 3.5%;
  z-index: 5;
  top: 31%;
  right: 4.4%;
}
.progress-bar-fill {
  position: absolute;
  width: 2.55%;
  z-index: 5;
  top: 32.2%;
  right: 4.85%;
  clip-path: inset(100% 0 0 0);
}

/* 커스텀 커서 스타일 */
body.game-active {
  cursor: url("../img/select-2/cursor.png"), auto;
}

body.game-active:active {
  cursor: url("../img/select-2/cursor-active.png"), auto;
}

.select-completed {
  background: url(../img/common/dimmed.png) center/contain no-repeat;
  display: grid;
  place-content: center;
}
.select-completed img {
  width: 40vw;
  height: 40vw;
}

/* 성공 애니메이션 */
.finish-animation {
  position: absolute;
  width: 12%;
  height: 26%;
  background-repeat: no-repeat;
  background-size: 100%;
  animation: finish 2s ease-out 1 forwards;
  background-position: center;
  z-index: 11;
  opacity: 1 !important;
  scale: 1.5;
}

.finish-bg {
  background: url(../img/select-1/finish-bg.png) center/contain no-repeat;
  position: absolute;
}

.strawberry-finish {
  position: absolute;
  width: 33%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  animation: size-up 1s ease-in-out 1, pulse 1s ease-in-out infinite 1s;
  cursor: pointer;
}
.strawberry-finish-half {
  display: none;
  position: absolute;
  width: 30%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.strawberry-finish-message {
  display: none;
  position: absolute;
  width: 15%;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.message-content {
  background: url(../img/select-1/success-message-content.png) center/contain
    no-repeat;
}
.message-content-2 {
  background: url(../img/select-2/success-message-content.png) center/contain
    no-repeat;
}
.select-1-arrow {
  width: 4%;
  position: absolute;
  top: 67%;
  left: 48%;
}

@keyframes size-up {
  0% {
    width: 5%;
  }
  50% {
    width: 33%;
  }
  100% {
    width: 30%;
  }
}

@keyframes pulse {
  0%,
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.1);
  }
}

.select-2-bg {
  background-image: url(../img/select-2/main-bg.png);
  background-size: contain;
  width: 100%;
  height: 100%;
  position: relative;
}

.wm-wrapper {
  position: absolute;
  width: 35%;
  height: 59%;
  top: 24%;
  left: 33%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 4%;
}

.wm {
  width: 100%;
  height: 100%;
  -webkit-user-drag: none;
  user-drag: none;
  object-fit: scale-down;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.wm.active {
  transform: scale(1.1);
  filter: drop-shadow(0 0 20px #ffe600) drop-shadow(0 0 40px #ffe600);
}

.cursor-change {
  cursor: none;
}

#custom-cursor {
  position: fixed;
  width: 15%;
  transform: translate(-45%, -45%);
  z-index: 9999;
  display: none;
  pointer-events: none;
}

.pattern {
  position: absolute;
  top: 11%;
  left: 9%;
  width: 80%;
  height: 80%;
  scale: 1;
  pointer-events: none;
}

.wm-finish {
  position: absolute;
  width: 22%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  animation: wm-finish-pulse 1s infinite alternate;
}

@keyframes wm-finish-pulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) scale(1.1);
  }
}

.wm-finish-half {
  display: none;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 29%;
  top: 55%;
}

.wm-finish-message {
  display: none;
  position: absolute;
  width: 15%;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.dan-2 {
  position: absolute;
  right: 2%;
  width: 20%;
  bottom: -11%;
  z-index: 1;
}
.dan-2.dance {
  width: 25%;
  right: 0;
  bottom: -8%;
  animation: dance 2s ease-in-out infinite;
}

.hong-2 {
  position: absolute;
  left: 2%;
  width: 23%;
  bottom: -8%;
  z-index: 1;
}
.hong-2.dance {
  width: 24%;
  left: 1%;
  bottom: -9%;
  animation: dance 2s ease-out infinite;
}

.reaction {
  position: absolute;
  width: 10%;
  bottom: 42%;
  right: 14%;
  z-index: 1;
}

.reaction.good {
  width: 7%;
}

.download-btn {
  position: absolute;
  width: 20%;
  bottom: 4%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.count-down {
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8%;
  z-index: 99;
  display: none;
}
