.select {
  background: url(../img/main/main-bg.png) center no-repeat;
}

.select-wrap {
  display: flex;
  position: absolute;
  bottom: 0;
  justify-content: center;
  gap: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  flex-direction: row;
  align-items: center;
}

.select-wrap a {
  background-size: contain;
}

.btn-select {
  width: 30%;
  height: 65%;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 10%;
}

.btn-select.btn-select-01 {
  background-image: url(../img/main/select-1.png);
}
.btn-select.btn-select-01:hover {
  background-image: url(../img/main/select-1-active.png);
}

.btn-select.btn-select-02 {
  background-image: url(../img/main/select-2.png);
}

.btn-select.btn-select-02:hover {
  background-image: url(../img/main/select-2-active.png);
}

.btn-select.btn-select-03 {
  background-image: url(../img/main/select-3.png);
  flex: 0.5;
  margin-top: -2.5%;
  margin-left: 2%;
}

.btn-select.btn-select-03:hover {
  background-image: url(../img/main/select-3-active.png);
}
