.info-1 {
  background-image: url(../img/common/dimmed.png);
}

.tutorial {
  background-image: url(../img/select/tutorial.png);
}

.close {
  position: absolute;
  top: 5%;
  right: 1%;
  width: 10%;
  height: 10%;
  background: url(../img/common/x.png) center/contain no-repeat;
}

.select-main {
  background: url(../img/select/main-bg.png) center/contain no-repeat;
  width: 100%;
  height: 100%;
  position: relative;
}

.play-wrap {
  width: 100%;
  height: 100%;
  position: relative;
}

.select-1 {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 12% 2% 0 2%;
  display: flex;
  gap: 1%;

  flex-direction: row;
  align-items: center;
}

.select-1 .left-box {
  width: 100%;
  height: 100%;
  position: relative;
  isolation: isolate;
}
.select-1 .left-box img {
  position: absolute;
}

.select-1 .left-box #haegeum-body {
  bottom: 8%;
  left: 27%;
  width: 22%;
  z-index: 3;
}

.select-1 .left-box #haegeum-neck {
  top: -3%;
  left: 38%;
  width: 10%;
  z-index: 2;
}

.select-1 .left-box #haegeum-bow {
  bottom: 10%;
  left: 10%;
  width: 74%;
  z-index: 4;
}

.select-1 .left-box #haegeum-jua {
  top: 10%;
  left: 34.5%;
  width: 17%;
  z-index: 1;
}

.select-1 .right-box {
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 2%;
}

.select-1 .right-box img {
  position: absolute;
}

.select-1 .right-box .menu {
  width: 100%;
  height: 100%;
  position: relative;
}

.select-1 .right-box .menu .paint {
  width: 30%;
}
#paint-blue {
  top: 12%;
  left: 28%;
}
#paint-pink {
  top: 12%;
  right: 7%;
}
#paint-green {
  bottom: 18%;
  left: 28%;
}
#paint-yellow {
  right: 7%;
  bottom: 18%;
}

.target-wrap {
  position: absolute;
  width: 21%;
  height: 84%;
  top: 4%;
  display: flex;
  flex-direction: column;
}

.target-wrap div {
  width: 100%;
  height: 100%;
}

.select-1-success {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.select-1-success .success-button {
  width: 40%;
}

/* select-2 */
.select-main-2 {
  background: url(../img/select/detail/main-bg.png) center/contain no-repeat;
  width: 100%;
  height: 100%;
  position: relative;
}

.up-btn {
  background: url(../img/select/detail/up.png) center/contain no-repeat;
  width: 10%;
  height: 20%;
  position: absolute;
  bottom: 5%;
  left: 37%;
}

.down-btn {
  background: url(../img/select/detail/down.png) center/contain no-repeat;
  width: 10%;
  height: 20%;
  position: absolute;
  bottom: 5%;
  left: 54%;
}

.finish-btn {
  background: url(../img/select/detail/finish.png) center/contain no-repeat;
  width: 20%;
  height: 20%;
  position: absolute;
  bottom: 0%;
  right: 3%;
}

.success-board {
  width: 80%;
  transform: translate(12%, 9%);
}

.ktm-card {
  position: absolute;
  width: fit-content;
  height: 50%;
  left: 40%;
  top: 17%;
  /* transition: transform 0.3s ease-out; */
  cursor: pointer;
}

.ktm-card-off {
  display: none;
  position: absolute;
  width: fit-content;
  height: 64%;
  left: 36%;
  top: 10%;
  transition: transform 0.3s ease-out;
}

.ktm-wrapper .btn-replay {
  position: absolute;
  width: 20%;
  height: 20%;
  left: 27%;
  bottom: 7%;
  background-image: url(../img/common/replay-2.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.ktm-wrapper .btn-replay:hover {
  background-image: url(../img/common/replay-active.png);
}

.ktm-wrapper .btn-home {
  position: absolute;
  width: 20%;
  height: 20%;
  right: 28%;
  bottom: 7%;
  background-image: url(../img/common/exit.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.ktm-wrapper .btn-home:hover {
  background-image: url(../img/common/exit_active.png);
}
